2.18.1/msvc/v142/x64/Debug/static/lib/botan.lib filter=lfs diff=lfs merge=lfs -text
2.19.1/msvc/v142/x64/Debug/static/lib/botan.lib filter=lfs diff=lfs merge=lfs -text
2.19.1/msvc/v142/Win32/Debug/static/lib/botan.lib filter=lfs diff=lfs merge=lfs -text
2.19.1/msvc/v142/Win32/Release/static/lib/botan.lib filter=lfs diff=lfs merge=lfs -text
